<div class="container mt-3">
  <div class="col-md-10 mx-auto pt-4 position-relative">
    <p class="title">商品一覧</p>

    <table class="border-top w-100 mt-3">
      <thead class="table-title table-height">
        <tr class="border-bottom">
          <th class="pl-2">商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody class="table-height">
        <% @items.each do |item| %>
          <tr class="border-bottom">
            <td class="pl-2">
              <%= item.id %>
            </td>
            <td>
              <%= link_to item.name, admin_item_path(item), class: "text-dark" %>
            </td>
            <td>
              <%= item.price.to_s(:delimited) %>
            </td>
            <td>
              <%= item.genre.name %>
            </td>
            <% if item.is_active == true %>
              <td class="text-success">販売中</td>
            <% else %>
              <td class="text-secondary">販売停止中</td>
            <% end %>
          </tr>
        <% end %>

      </tbody>
    </table>

      <%= link_to new_admin_item_path, class: "create_items btn btn-light position-absolute p-0" do %>
      +
      <% end %>

  </div>

</div>