<div class="container mt-3">
  <div class="col-md-10 mx-auto pt-4">
    <p class="title">注文履歴一覧</p>

    <table class="border-top w-100 mt-3">
      <thead class="table-title table-height">
        <tr class="border-bottom">
          <th class="pl-2">購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>

      <tbody class="table-height">
        <tr class="border-bottom">
          <% @customer.orders.each do |order| %>
          <td>
            <%= link_to "", admin_order_path(order) do %>
              <%= order.created_at %>
            <% end %>
          </td>
          <td>
            <%= order.name %>
          </td>
          <td>
            <!--??-->
            <%= order.order_details.count %>
          </td>
          <td>
            <!--??-->
            <%= order.order_status %>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

</div>