<div class="container mt-3">
  <div class="col-md-10 mx-auto pt-4">
    <p class="title">注文履歴一覧</p>

    <table class="border-top w-100 mt-3">
      <thead class="table-title table-height">
        <tr class="border-bottom">
          <th class="pl-2">購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody class="table-height">
        <% @orders.each do |order| %>
          <tr class="border-bottom">
            <td class="pl-2">
              <%= link_to "#{l order.created_at}", admin_order_path(order), class: "text-dark" %>
            </td>
            <td>
              <%= order.customer.last_name + order.customer.first_name %>
            </td>
            <td>
              <% array_amount = [] %>
              <% order.order_details.each do |order_detail| %>
                <% array_amount.push(order_detail.amount) %>
              <% end %>
              <%= array_amount.sum %>
            </td>
            <td>
              <%= order.order_status %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
    <div class="d-flex justify-content-center mt-3">
      <%= paginate @orders %>
    </div>
  </div>
</div>